{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
{% block js %}

<script src="https://kit.fontawesome.com/a5c26dd0de.js" crossorigin="anonymous"></script>

{% endblock js %}

{% comment %} <div class="container my-2">
    <h2 class="text-center font-weight-bold p-2" style="letter-spacing: 2px; font-size:60px;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >My Profile</h2>
    <div class="row ">
        <div class="d-flex justify-content-center">
            <div class="p-2 w-75">
                <div class="col-sm-12">
                    <div class="d-flex justify-content-center">
                        <img src="/static/img/profile.jpg" alt="profile" width="400" height="300" class="p-2 img-thumbnail ">
                    </div>
                </div>
                <div class="col-sm-12">
                   <div class="container">
                    <br><br> <br>
                    <p class="text-muted" >
                        Hello, my name is <strong> Dileep Singh!</strong> If you in search of an Django and Python tutorial, I can help you! Check my blogs on this page, or read every blog carefully, best time to contacting me is <strong> from 6:00 pm to 9:00 pm (Indian Time Zone)</strong>.
                    </p>
                    <br><br>
                    <p class="text-muted">
                        Reading of professional and fiction literature. Swimming, fitness, yoga (no extreme). Active recreation in nature. Visiting the cinema, museums, exhibitions. Learning foreign languages. Playing the piano, violin.
                    </p>
                   </div>
                   <div class="col-sm-12">
                       <br>
                    <h2 class="text-center font-weight-bold p-4" style="letter-spacing: 2px; font-size:60px;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >My Skills</h2>
                        <ul class="text-muted">
                            <li class="p-2"><strong>Python -</strong>  Python is just not a language for me. It is also my world. After working hard and spending lots of time in python , i achived this such a wonderful gift. Also special thanks to stackoverflow, github and other community to help me. <li>
                            <li class="p-2"><strong>Django -</strong> Django framework is such a wonderful web -development. also special thanks to my all teacher to teach me </li>
                            <li class="p-2"><strong>Algorithm Design -</strong> An illustrator is a human artist who creates an image from a written text or story. They create thematic pictures in books and magazines. Beautiful illustrations on sites is also their work.</li>

                        </ul>
                   </div>
                   <div class="col-sm-12">
                       <br>
                    <h2 class="text-center font-weight-bold p-4" style="letter-spacing: 2px; font-size:60px;  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" >My Education</h2>
                    <p class="text-muted">
                        ReadEducation is necessary and very important. Just getting it is not a finale. This is the beginning or the continuation of the practical realization of oneself as an individual. Expansion of the outlook, intellectual development, sociability, oratory, communication with adequate people, the ability to find a way out of a difficult situation through negotiations.ing of professional and fiction literature. Swimming, fitness, yoga (no extreme). Active recreation in nature. Visiting the cinema, museums, exhibitions. Learning foreign languages. Playing the piano, violin.
                    </p>
                   </div>

                </div>

            </div>

        </div>
    </div>


<hr>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <strong style="font-size: large;" class="p-2">Live In :</strong><br> <img src="/static/img/flag.png" width="50" height="50" alt="flag"> India
        </div>
         <div class="col-sm-12 col-md-3">
             <strong style="font-size: large;" class="p-2">Social Links :</strong><br> <i class="fab fa-facebook-square"></i> fackbook
              <i class="p-1 fa fa-instagram"></i> instagram
         </div>
          <div class="col-sm-12 col-md-3">
              <strong style="font-size: large;" class="p-2">Contact me :</strong><br>
              <i class="p-1 fa fa-envelope p-1"></i><span>singhdileep321@gmail.com</span><br>
          </div>
    </div>

</div>    
 {% endcomment %}




 {% comment %} New about page  {% endcomment %}

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
        <div class="container">
                     <h1 class="text-center font-weight-bold ">My Profile</h1>
                    <div class="row"> 
                            <div class="col-sm-12">
                                <div class="d-flex justify-content-center">
                                    <img src="/static/img/profile.jpg" alt="profile" width="400" height="300" class="p-2 img-thumbnail ">
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <p class="text-muted">
                                    Hello, my name is <strong> Dileep Singh!</strong> If you in search of an Django and Python tutorial, I can help you! Check my blogs on this page, or read every blog carefully, best time to contacting me is <strong> from 6:00 pm to 9:00 pm (Indian Time Zone)</strong>.
                                </p>
                            </div>
                    
        


                        <div class="col-sm-12">
                            <p class="text-muted">
                                Reading of professional and fiction literature. Swimming, fitness, yoga (no extreme). Active recreation in nature. Visiting the cinema, museums, exhibitions. Learning foreign languages. Playing the piano, violin.
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <h1 class="text-center font-weight-bold p-4" >My Skills</h1>
                                <ul>
                                    <li class="p-2" ><strong>Python -</strong>  Python is just not a language for me. It is also my world. After working hard and spending lots of time in python , i achived this such a wonderful gift. Also special thanks to stackoverflow, github and other community to help me. </li>
                                    <li class="p-2"><strong>Django -</strong> Django framework is such a wonderful web -development. also special thanks to my all teacher to teach me </li>
                                    <li class="p-2"><strong>Algorithm Design -</strong> An illustrator is a human artist who creates an image from a written text or story. They create thematic pictures in books and magazines. Beautiful illustrations on sites is also their work.</li>

                                </ul>
                        </div>

                        <div class="col-sm-12">
                            <br>
                            <h1 class="text-center font-weight-bold p-4" >My Education</h1>
                            <p class="text-muted">
                                ReadEducation is necessary and very important. Just getting it is not a finale. This is the beginning or the continuation of the practical realization of oneself as an individual. Expansion of the outlook, intellectual development, sociability, oratory, communication with adequate people, the ability to find a way out of a difficult situation through negotiations.ing of professional and fiction literature. Swimming, fitness, yoga (no extreme). Active recreation in nature. Visiting the cinema, museums, exhibitions. Learning foreign languages. Playing the piano, violin.
                            </p>
                        </div>
                    
                    </div>


              <hr>
                 <div class="row">
                     <div class="col-sm-12 col-md-3">
                         <strong style="font-size: large;" class="p-2">Live In :</strong><br> <img src="/static/img/flag.png" width="50" height="50" alt="flag"> India
                     </div>
                     <div class="col-sm-12 col-md-3">
                         <strong style="font-size: large;" class="p-2">Social Links :</strong><br> <i class="fab fa-facebook-square"></i> fackbook
                         <i class="p-1 fa fa-instagram"></i> instagram
                     </div>
                     <div class="col-sm-12 col-md-3">
                         <strong style="font-size: large;" class="p-2">Contact me :</strong><br>
                         <i class="p-1 fa fa-envelope p-1"></i><span>singhdileep321@gmail.com</span><br>
                     </div>
                 </div>
</div>
</div>




  </div> <!-- /container -->

</main>










{% endblock body %}