{% extends 'base.html' %}
{% block title %} blogPost {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}


{% block body %}

<div class="container my-3">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timeStamp}} by <a href="/about">{{post.author}}</a></p>
    <p>{{post.content}}</p>
    <hr>
</div>
<div class="container">
<h3>Comments</h3>
<div class="row my-2">
    <div class="col-md-2 bg-success">image here </div>
    <div class="col-md-10 bg-primary">comment here </div>
</div>

<div class="row my-2">
    <div class="col-md-2 bg-success">image here </div>
    <div class="col-md-10 bg-primary">comment here </div>
</div>

</div>

{% endblock body %}